body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    border-bottom: 1px solid black;
    text-align: center;
    padding: 20px;
    margin: 0;
}

.li-items{
    font-size: 20px;
    padding: 0 20px 20px;
    display: inline-block;
}

#title, .product-title{
    text-align: center;
}
.product{
    display: inline-block;
    margin: 0px 10px;
    /* width: 240px;
    height: 200px; */
}

.product img{
    width: 200px;
    height: 200px;
}

table, th, td{
    border: 1px solid black;
/*     padding: 10px; */
    border-colapse: colapse;
}
.rows{
    background-color: cornflowerblue;
}