#logo{
    width: 40px;
    height: 40px;
}

/* .container {
    position: relative;
    text-align: center;
    color: white;
  }

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  } */

  .green-fonts{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
}